/* Menu */

#galeria {
    padding: 10px 10px;
}

.card {
    box-shadow: 2px 5px 20px #777;
}

.mn {
    color:#fff;
}

/* Buttons */

.btn-info {
    background-color:#21ddfb;
    padding: 1rem 4rem;
    border:3px solid transparent;
    width: 225px;
}

.btn-info:hover {
    background-color:transparent;
    border:3px solid #21ddfb;
    color: #21ddfb;
}

.btn-info:active {
    background-color:transparent !important;
    border:3px solid #21ddfb !important;
    color: #21ddfb !important;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;            
}

.form {
    width: 1000px;
}

.carousel-inner img {
    width: 50%;
    height: 50%;
}

.page-holder {
    min-height: 100vh;
}
  
.bg-cover {
    background-size: cover !important;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}

.h3{

    font-weight: bolder;
}